<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.clou.merchantdemo.mapper.GoodsTagMapper">

    <select id="getTagNameList" resultType="com.clou.merchantdemo.POJO.vo.GoodsTagVO">
        SELECT id, tag_name as tagName
        FROM goods_tag_category
        WHERE status = 1
        <if test="tagType != null">
            AND tag_type = #{tagType}
        </if>
        <if test="parentTagId != null">
            AND parent_tag_id = #{parentTagId}
        </if>
        <if test="level != null">
            AND level = #{level}
        </if>
    </select>

</mapper>
